#####################################################################
#### Bed mesh config
#####################################################################

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 35, 6
mesh_max: 325, 325
probe_count: 6, 6